<%- contentFor('body') %>
<section class="relative overflow-x-auto px-5 my-5">
  <h1 class="text-center mb-5 font-bold text-xl">List contacts</h1>

  <div>
    <% if (cont.length < 1) { %>
    <p>Contact data is empty</p>
    <% } else { %>
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">No</th>
          <th scope="col" class="px-6 py-3">Nama</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">action</th>
        </tr>
      </thead>
      <tbody>
        <% cont.forEach((value, i) => { %>
        <tr class="bg-white border-b border-gray-200">
          <td class="px-6 py-4"><%= i+1 %></td>
          <td class="px-6 py-4"><%= value.name %></td>
          <td class="px-6 py-4"><%= value.email %></td>
          <td class="px-6 py-4">
            <a
              href="contactDetail/<%= value.name %>"
              target="_blank"
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-2 py-1 mb-2"
              >Detail</a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% }%>
  </div>
</section>
